@font-face {
  font-family: 'square';
  src: url("../fonts/swiss.ttf");
  src: url("../fonts/swiss.ttf") format("truetype"); }
#main {
  position: relative;
  background: url("../images/clear.png") 51% center no-repeat;
  opacity: 1;
  height: 800px;
  margin: 0;
  padding: 0;
  -webkit-filter: blur(10px);
  transition: -webkit-filter 1.5s; }
  #main h1 {
    position: fixed;
    z-index: 100;
    width: 100%;
    font-family: 'EB Garamond', serif;
    color: #a6a76a;
    background-color: #a6a76a;
    background: url("../images/spatter-black.png") -100% 10% no-repeat;
    text-shadow: 0px 2px 4px black;
    font-size: 3.2em !important;
    margin-top: 0;
    border-bottom: 1px solid black;
    box-shadow: 0px 2px 2px black;
    /*-webkit-filter: blur(1px);*/ }
  #main #top-row {
    position: relative;
    top: 18%;
    padding: 10px;
    margin-: auto;
    font-size: 2em;
    width: 70%; }
    #main #top-row .stores {
      height: 120px;
      width: auto;
      opacity: .8;
      transition: opacity .5s, height .2s; }
      #main #top-row .stores:hover {
        cursor: pointer;
        height: 124px;
        opacity: 1; }
  #main #middle-row {
    position: relative;
    top: 30%;
    padding: 10px;
    margin: auto;
    font-size: 2em;
    width: 80%; }
    #main #middle-row .stores {
      height: 120px;
      width: auto;
      opacity: .8;
      transition: opacity .5s, height .5s; }
      #main #middle-row .stores:hover {
        cursor: pointer;
        height: 130px;
        opacity: 1; }
  #main #bottom-row {
    position: relative;
    top: 35%;
    padding: 10px;
    margin: auto;
    font-size: 2em;
    width: 100%; }

.clean {
  -webkit-filter: blur(0px) !important; }

#overlay {
  /*background: rgba(0,0,0,.8);*/
  background: url("../images/band-shot.jpeg") center 20%, url("../images/spatter-white.png") center center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 1; }
  #overlay h1 {
    font-family: 'EB Garamond', serif;
    color: white;
    text-shadow: 0px 0px 4px black;
    font-size: 5em !important; }
  #overlay #underline {
    position: relative;
    left: 50%;
    margin-left: -200px;
    height: 50px;
    width: 400px;
    padding: 10px; }
  #overlay #album-title {
    font-family: 'square', sans-serif !important;
    margin-top: 20px;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 3em !important; }
  #overlay #medallion {
    display: block;
    position: relative;
    left: 50%;
    margin-top: 20px;
    margin-left: -151px;
    box-shadow: 0px 0px 4px black;
    /*border-radius: 50%;*/ }
  #overlay #enter {
    font-family: 'square', sans-serif !important;
    color: white;
    font-size: 30px;
    font-style: italic;
    text-shadow: 0px 0px 2px black;
    -webkit-animation-delay: 1s; }

/*Media Queries*/
@media screen and (max-width: 700px) {
  #overlay {
    overflow-y: scroll; }
    #overlay h1 {
      font-size: 2em !important; }
    #overlay #underline {
      /*height: 30px;*/
      width: 280px;
      margin-left: -140px; }
    #overlay #medallion {
      height: auto;
      width: 180px;
      margin-left: -90px; }
    #overlay #album-title {
      font-size: 2em !important; }
    #overlay #enter {
      font-size: 20px; }

  #main h1 {
    position: static;
    font-size: 2em !important;
    text-shadow: 0px 0px 2px black;
    background: url("../images/spatter-black.png") left top no-repeat; }
    #main h1 #logo {
      height: 75px;
      width: auto; }
    #main h1 .stores {
      float: none; } }
