$Gold : rgb(166,167,106);

@font-face{
	font-family: 'square';
	src: url('../fonts/swiss.ttf');
	src: url('../fonts/swiss.ttf') format('truetype');
}

#main {
	position: relative;
	/*background: url('../images/clear.png') 10% center no-repeat;*/
	background-size: auto;
	opacity: 0;
	height: 800px;
	margin: 0;
	padding: 0;
	-webkit-filter: blur(10px);
	transition: -webkit-filter 1.5s;

	#header {

		position: relative;
		z-index: 100;
		width: 100%;
		font-family: 'EB Garamond', serif;
		color: $Gold;
		/*background-color: $Gold;*/
		background: url('../images/spatter-black.png') -100% 10% no-repeat;
		text-shadow:0px 2px 4px black;
		font-size: 3.2em !important;
		margin: 0 0 0 0;
		border-bottom: 1px solid black;
		box-shadow: 0px 2px 2px black;
		/*-webkit-filter: blur(1px);*/
	}
	#logo-container {
		overflow-x: hidden;
		background-color: white;
		width: 100%;
		margin: 0;

			#white-album {
			/*overflow-x: hidden;*/
			position: relative;
			height: 600px;
			width: auto;
			transition: height .5s;
				&:hover {
					height: 610px;

				}
			}

	}
	h2 {

		font-family: 'EB Garamond', serif;
		font-size: 3.5em;
		color: black;
		text-shadow: 2px 0 2px black;
		margin: 0 0 !important;
		padding-bottom: 10px;
	}
	
	#shop {
		/*background: url('../images/spatter-new.png');*/
		background-color: black;
		box-shadow: 0px 0px 20px black;
		width: 100%;
		/*border-radius: 10px;*/
		h2 {
			color: white;
		}

		#store-list {
		list-style-type: none;
		padding: 0;
		text-align: center;


			a {
				text-decoration: none;
				font-family:  'EB Garamond', serif;
				color: white;
				font-size: 2.5em !important;
				transition: color .5s;
				&:hover {
					color: $Gold;
				}

			}
			
			

			}
			.stores:after {
				content: '' !important;
					display: block;
					position: relative;
					width: 80px;
					height: 2px;
					left: 50%;
					margin-top: 10px;
					margin-left: -40px;
					background-color: $Gold;
			}

		}

		#social-media {

			list-style-type: none;
			padding: 0 !important;
			margin-top: 20px !important;


			li {
				height: 250px;
				width: auto;
				display: inline-block;
				margin: 10px;
				i {
					font-size: 18em;
					color: black;
					padding: 0 20px;
				}
			}
		}
		#footer {

			width: 100%;
			background-color: black;
			padding: 10px 0;
			margin: 0;
			box-shadow: 0px -2px 2px black;
			a {
				text-decoration: none;
				font-family: 'EB Garamond', serif;
				width: 100%;
				color: white;
				transition: color .5s;
				&:hover {
					color: $Gold;

				}
			}

		}	
	}


.clean {
	-webkit-filter: blur(0px) !important;
}

#overlay {

	/*background: rgba(0,0,0,.8);*/
	background: url('../images/band-shot.jpeg') center 20%, url('../images/spatter-white.png') center center;
	background-size: cover;
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	opacity: 1;
		h1 {
			font-family: 'EB Garamond', serif;
			color: white;
			text-shadow: 0px 0px 4px black;
			font-size: 5em !important;
			-webkit-animation-delay: .5s;
			-webkit-animation-duration: .5s;
		}
		#underline {
			position: relative;
			left: 50%;
			margin-left: -200px;
			height: 50px;
			width: 400px;
			padding: 10px;
		}
		
		#album-title {
			font-family:'square', sans-serif !important;
			margin-top: 20px;
			color: white;
			text-shadow: 2px 2px black;
			font-size: 3em !important;
			margin-top: 40px; 
		}
		
		#medallion {
			display: block;
			position: relative;
			left: 50%;
			margin-top: 20px;
			margin-left: -151px;
			box-shadow: 0px 0px 4px black;
			-webkit-animation-delay: 1s;
			-webkit-animation-duration: 1s;
		}

		#enter {
			font-family:'square', sans-serif !important;
			color: white;
			font-size: 30px;
			font-style: italic;
			text-shadow: 0px 0px 2px black;
			margin-top: 40px;
			-webkit-animation-delay: 2s;
			-webkit-animation-duration: 2s;
		}
}


/*Media Queries*/

@media screen and (max-width:700px) {

#overlay {

	overflow-y: scroll;
	
	h1 {
		font-size: 2em !important;
	}
	#underline {
		/*height: 30px;*/
		width: 220px;
		margin-left: -110px;
	}
	#medallion {
		height: auto;
		width: 180px;
		margin-left: -90px;
	}
	#album-title {
		font-size: 2em !important;
	}
	#enter {
		font-size: 20px;
	}
}

	#main{
		#header {
			position: static;
			font-size: 2em !important;
			text-shadow:0px 0px 2px black;
			background: url('../images/spatter-black.png')left top no-repeat;
			#logo {
				height: 75px;
				width: auto;
			}
			.stores {
				float: none;
			}
		}
		#social-media{

			i {
				font-size: 15em !important;
			}
		}
	}



}
